@model List<ResultCarWithBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 1;
}



<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Araba Listesi</h4>
                <a href="/AdminCar/CreateCar" class="btn btn-success">Ekle</a>


                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Vites Türü</th>
                                <th>KM</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Detaylar</th>
                                <th>Sitede Gör</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.brandName</td>
                                    <td>@item.model</td>
                                    <td>@item.transmission</td>
                                    <td>@item.kM</td>
                                    <td><a href="/AdminCar/RemoveCar/@item.carID" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/AdminCar/UpdateCar/@item.carID" class="btn btn-warning">Güncelle</a></td>
                                    <td><a href="/AdminCar/DetailCar/@item.carID" class="btn btn-primary">Detaylar</a></td>
                                    <td><a href="/AdminCar/DetailCar/@item.carID" class="btn btn-info">Sitede Gör</a></td>
                                </tr>

                                count++;
                            }
                            
                           
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>
